<html>
<head>
<title>Hello Node.js!</title>
</head>
<body>
<form action="http://127.0.0.1:1337/hello" method="GET">
    First Name: <input type="text" name="first_name"> <br>
    Last Name: <input type="text" name="last_name"> <br>
    <input type="submit" value="Submit">
</form>
<form action="http://127.0.0.1:1337/date" method="GET">
    Year: <input type="text" name="year"> <br>
    Month: <input type="text" name="month"> <br>
    Day: <input type="text" name="day"> <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
