<html>
<head>
<title>Hello Node.js!</title>
</head>
<body>
<form action="/hello" method="GET">
    First Name: <input type="text" name="first_name"> <br>
    Last Name: <input type="text" name="last_name"> <br>
    <input id="hello_submit" type="submit" value="Submit">
</form>
<form action="/date" method="GET">
    Year: <input type="text" name="year"> <br>
    Month: <input type="text" name="month"> <br>
    Day: <input type="text" name="day"> <br>
    <input id="date_submit" type="submit" value="Submit">
</form>
</body>
</html>
